@import './icons.scss';

.clickable {
  @apply cursor-pointer select-none outline-none;
}

.disabled {
  filter: contrast(0.5) brightness(170%) grayscale(0.7);
  cursor: not-allowed;
}

.disabled-dark {
  filter: brightness(105%) grayscale(1) opacity(0.7);
  cursor: not-allowed;
}

.popup {
  &.confirmable {
    &[data-popup-show='true'] {
      @apply rounded-lg bg-red-600 text-gray-100 shadow-lg;
    }
  }

  &[data-popup-show='true'] {
    @apply relative;

    &::after {
      @apply z-10 absolute right-full mr-1 shadow-lg w-48 bg-gray-800 text-gray-100 p-3 text-sm rounded-lg text-center pointer-events-none;
      content: attr(data-popup-text);

      @media (min-width: theme('screens.md')) {
        @apply w-60;
      }
    }
  }
}

@keyframes notice-me {
  0% {
    filter: brightness(100%);
  }

  30% {
    filter: brightness(120%);
  }

  100% {
    filter: brightness(100%);
  }
}

.notice-me-senpai {
  animation: 300ms ease-in notice-me;
}

.violet-link {
  text-decoration: underline;
  @apply text-c-violet-3;

  &:hover {
    @apply text-c-violet-2;
  }
}

.material-radio,
.material-checkbox {
  > .material-radio-fake,
  > .material-checkbox-fake {
    @apply p-2 cursor-pointer;
    &::after {
      content: 'check_box_outline_blank';

      @apply material-icons-pseudo pointer-events-none select-none text-xl;
    }

    &.material-checkbox-fake__large::after {
      @apply text-3xl;
    }
  }

  // other icon for the radio
  > .material-radio-fake::after {
    content: 'radio_button_unchecked';
  }

  > input {
    // display flex so it stopts taking place in the DOM
    // don't display: none because then it is not focusable
    // firefox: can't set widht/height for checkbox, so use transform
    transform: scale(0);
    // this makes sure it doesn't take space in the DOM
    @apply absolute;

    &:checked ~ .material-checkbox-fake::after {
      content: 'check_box';
    }

    // other icon for the radio
    &:checked ~ .material-radio-fake::after {
      content: 'radio_button_checked';
    }

    &:disabled ~ .material-radio-fake::after,
    &:disabled ~ .material-checkbox-fake::after {
      @apply disabled;
    }

    &:focus ~ .material-radio-fake::after,
    &:focus ~ .material-checkbox-fake::after {
      @apply shadow-outline;
    }
  }

  &:hover {
    @apply lighten-5;
  }

  &:active {
    @apply darken-5;
  }
}

.material-select {
  @apply relative;

  > label {
    @apply select-none absolute pointer-events-none w-full h-full bg-gray-100 py-2 pl-3 pr-8 text-gray-900 rounded-lg;
  }

  > select {
    @apply w-full h-full block appearance-none bg-gray-100 py-2 pl-3 pr-8 text-gray-900 rounded-lg;

    &:focus {
      @apply outline-none shadow-outline;
    }
  }

  &::after {
    content: 'arrow_drop_down';

    @apply material-icons-pseudo absolute pointer-events-none top-0 bottom-0 right-0 px-3 flex items-center text-gray-900;
  }

  // handle screens being too small
  @media (min-width: theme('screens.fake-select')) {
    > label {
      @apply hidden;
    }
  }
}

.transparent-input {
  @apply bg-transparent border-b-2 border-gray-300 appearance-none outline-none transition-border-color-100;

  &:focus {
    @apply border-gray-700;
  }

  &:disabled {
    @apply disabled-dark;
  }
}

.wrapped-transparent-input {
  > .wrapped-style {
    @apply border-b-2 border-gray-300 transition-border-color-100;
  }

  > input {
    @apply bg-transparent appearance-none outline-none;

    &:focus ~ .wrapped-style {
      @apply border-gray-700;
    }

    &:disabled ~ .wrapped-style {
      @apply disabled;
    }
  }
}

.wrapped-single-transparent-input {
  > .wrapped-style {
    @apply z-bottom bg-gray-100 rounded-lg transition-border-radius-200;
  }

  > input {
    @apply bg-transparent appearance-none outline-none;

    &:disabled ~ .wrapped-style {
      @apply disabled;
    }
  }
}

.transparent-select {
  > select {
    @apply clickable block appearance-none bg-transparent pr-4;

    &:focus {
      @apply outline-none shadow-outline;
    }

    > option {
      @apply bg-gray-100;

      //prevent <option>s from becoming transparent on firefox
      &:not(:checked) {
        @apply text-gray-900;
      }
    }
  }

  &::after {
    content: 'arrow_drop_down';

    top: theme('spacing.4');
    right: theme('spacing.4');
    @apply material-icons-pseudo absolute pointer-events-none;
  }
}

.range-slider__range {
  @apply bg-gray-100 appearance-none h-3 rounded-lg outline-none p-0 m-0;

  &::-moz-range-track {
    // Firefox Mobile Fix
    background-color: transparent;
  }

  // Range Handle
  &::-webkit-slider-thumb {
    @apply w-6 h-6 rounded-full bg-gray-800 cursor-pointer appearance-none transition-background-100;

    &:hover {
      @apply bg-gray-700;
    }
  }

  &:active::-webkit-slider-thumb {
    @apply bg-gray-700;
  }

  &::-moz-range-thumb {
    @apply w-6 h-6 border-none rounded-full bg-gray-800 cursor-pointer appearance-none transition-background-100;

    &:hover {
      @apply bg-gray-700;
    }
  }

  &:active::-moz-range-thumb {
    @apply bg-gray-700;
  }

  &:focus {
    &::-webkit-slider-thumb {
      @apply bg-gray-700;
    }
    &::-moz-range-thumb {
      @apply bg-gray-700;
    }
  }
}

.drop-cap:first-letter {
  @apply float-left text-4xl leading-none mr-2;
}

$light: 255;
$dark: 0;
$opacity: 0.7;

.bg-gradient-corner-light {
  background-image: linear-gradient(
    to bottom left,
    rgba($light, $light, $light, $opacity),
    rgba($light, $light, $light, 0) 50%
  );
}

.bg-gradient-corner-dark {
  background-image: linear-gradient(
    to bottom left,
    rgba($dark, $dark, $dark, $opacity),
    rgba($dark, $dark, $dark, 0) 50%
  );
}

// Slider

.slider {
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

.slide {
  scroll-snap-align: start;
  scroll-behavior: smooth;
}

.disabled\:text-gray-500:disabled {
  @apply text-gray-500;
}

$background-color: #e0e0e0;

@screen sm {
  .transparent-borders {
    background-image: linear-gradient(
      to right,
      rgba($background-color, 1),
      rgba($background-color, 0) 8%,
      rgba($background-color, 0) 92%,
      rgba($background-color, 1) 100%
    );
  }
}
